<?xml version="1.0"?>
<launch>
    <!-- Launch GPS -->
    <node name="config_mtk" pkg="nmea_navsat_driver" type="mtk3339_config.py">
        <param name="~port" value="/dev/cp210x" />
	<param name="~baud" value="9600" />
    </node>
    <node name="nmea_mtk" pkg="nmea_navsat_driver" type="nmea_topic_serial_reader.py">
        <param name="~port" value="/dev/cp210x" />
	<param name="~baud" value="57600" />
        <param name="~nmea_sentence" value="/mtk/nmea_sentence" /> 
    </node>
    <node name="nmea_topic_mtk" pkg="nmea_navsat_driver" type="nmea_topic_driver.py">
        <param name="~fix" value="/mtk/fix" /> 
        <param name="~vel" value="/mtk/vel" /> 
        <param name="~nmea_sentence" value="/mtk/nmea_sentence" /> 
        <param name="~time_reference" value="/mtk/time_reference" /> 
    </node>
</launch>
