<?xml version="1.0"?>
<launch>
    <!-- Launch IMU -->
    <node name="vn100" pkg="vn100" type="vn100_node">
        <param name="port" value="/dev/imu"/>
        <param name="angular_velocity_stddev" value="0.002"/>
        <param name="linear_acceleration_stddev" value="0.05"/>
        <param name="enable_magnetic_field" value="true"/>
        <param name="enable_vpe_status" value="true"/>
        <param name="enable_uncomp_gyro" value="true"/>
        <param name="enable_uncomp_accel" value="true"/>
    </node>

    <!-- Launch tilt-compensated compass -->
    <node name="compass" pkg="imu_tools" type="compass_node"/>
</launch>
