<!-- This will start motion estimation node. -->
<launch>
	<include file="$(find recons_metric)/launch/imu_enu_to_ned_scania.launch"/>
	<!-- <include file="$(find recons_metric)/launch/image_transport_mobphone.launch"/>  -->
	<!-- <include file="$(find recons_metric)/launch/orb_slam2_rtsp_camera_relay.launch"/>  -->
  	<rosparam command="load" file="$(find recons_metric)/config/meParameters_scania.yaml" ns="recons_metric" />
    <node name="recons_metric" pkg="recons_metric" type="motion_estimation_node" args="/imu/data:=/imu/data /imu/mag:=/imu/mag  /gps/fix:=/asterx2_node/fix" output="screen"/>
</launch>
